@import '../../styles/global.scss';

.wrapper {
    background-color: #fff;

    .container {
        align-items: flex-start;
        flex-wrap: wrap;
        >div {
            flex: 1;
        }

        .leftside {
            display: flex;
            flex-direction: column;
            gap: 2rem;


            .exp {
                display: flex;
                flex-direction: row;
                align-items: center;
                border: 1px solid $secondary-white;
                border-radius: 20px;
                transition: all 200ms ease-out;
                padding:1.5rem;
               

                &:hover {
                    cursor: pointer;
                    box-shadow: 0px 21px 13px rgba(0, 0, 0, 0.05);
                }

                >:nth-child(1) {
                    padding: 10px;
                    height: 3rem;
                    width: 3rem;
                    border-radius: 999px;
                }

                >:nth-child(2) {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    margin-left: 1rem;

                    >:nth-child(1) {
                        font-size: 1.6rem;
                        font-weight: bold;
                    }

                    >:nth-child(2) {
                        font-size: 1rem;

                    }
                }


            }

        }

        .rightside {
            margin-left: 2rem;
            @media(max-width:$sm){
                margin-top: 2rem;
                padding:1rem;
                margin-left: 1rem;
            }
        }
    }
}